@tailwind base;
@tailwind components;
@tailwind utilities;


.struggle { 
    background-image: url("https://uploads-ssl.webflow.com/634d41276b882236cc52de2c/642b5a41ad38a45c453b72a8_Vector.svg");
    background-position : 40% 95%  ; 
    background-repeat: no-repeat;
    background-size: 11rem;
    padding-bottom: 2%;
    cursor: pointer;
    transition: 1s;
  
  }